.navbar-brand{
  background-image: url('/img/mentalconnect_logo_lg.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  width:100%;
  display: inline-block;
  height: 70px;
}

.navbar-toggler{
  position: absolute;
  right: 25px;
  top: 10px;
}

.navbar-nav.ml-auto{
  position: absolute;
}